API_ID=
API_HASH=
BOT_TOKEN=
MONGO_DB_URI=
LOGGER_ID=
OWNER_ID=
STRING_SESSION=
STRING_SESSION2=
STRING_SESSION3=
STRING_SESSION4=
STRING_SESSION5=
MUSIC_BOT_NAME=KARTIK X MUSIC
PRIVATE_BOT_MODE=False
DURATION_LIMIT=900
HEROKU_APP_NAME=
HEROKU_API_KEY=
UPSTREAM_REPO=https://github.com/Kartiknishad36/NISHAD34
UPSTREAM_BRANCH=main
GIT_TOKEN=
SUPPORT_CHANNEL=https://t.me/KARTIK_X_UPDATE
SUPPORT_CHAT=https://t.me/yaaro_ka_add
AUTO_LEAVING_ASSISTANT=False
AUTO_GCAST=
AUTO_GCAST_MSG=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SERVER_PLAYLIST_LIMIT=50
PLAYLIST_FETCH_LIMIT=25
SONG_DOWNLOAD_DURATION_LIMIT=180
TG_AUDIO_FILESIZE_LIMIT=104857600
TG_VIDEO_FILESIZE_LIMIT=1073741824
START_IMG_URL=
PING_IMG_URL=
